<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.allinpay.wechatcard.dao.CommonDao">

	<!-- 取得Appid和AppSecret -->
	<select id="getAppInfo" parameterType="java.util.Map" resultType="java.util.Map">
		select appid,appsecret
		from merchant
		where urlflag = #{bean}
	</select>	

</mapper>
	