<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.allinpay.wechatcard.dao.WEC0023Dao">
	
	<!-- 会员注册 -->
	<select id="change_member_openid" parameterType="java.util.Map">
		update member set memberopenid = #{bean.openid}
		where merchantid = #{bean.merchantid} and memberphone = #{bean.memberphone}
	</select>
</mapper>
	