<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.allinpay.wechatcard.dao.WEC0042Dao">
	
	<!-- 查询优惠券信息 -->
	<select id="get_coupon" parameterType="java.util.Map" resultType="java.util.Map">
		select b.couponid as "couponid",b.memberid as "memberid",b.merchantcouponid as "merchantcouponid",b.merchantid as "merchantid",b.membercouponstate as "membercouponstate",b.couponsj as "couponsj",b.bz as "bz",b.couponname as "couponname",
		couponimg as "couponimg",to_char(b.starttime,'YYYY-MM-DD') as "starttime",to_char(b.endtime,'YYYY-MM-DD') as "endtime",
		couponcode as "couponcode"
		from member a, coupon b, merchant c
		where a.memberid = b.memberid
		and b.merchantid = c.merchantid
		and a.merchantid = c.merchantid
		and a.memberopenid = #{bean.openid} 
		and c.urlflag = #{bean.urlflag}
		and b.couponid = #{bean.couponid}
	</select>
	
</mapper>
	