<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.allinpay.wechatcard.dao.WEC0040Dao">
	
	<!-- 查询会员未领用的优惠券 mysql -->
	<!-- <select id="get_coupon" parameterType="java.util.Map" resultType="java.util.Map">
		select b.couponid as "couponid",b.memberid as "memberid",b.merchantcouponid as "merchantcouponid",b.merchantid as "merchantid",
		b.membercouponstate as "membercouponstate",b.couponcode as "couponcode",b.couponsj as "couponsj",b.bz as "bz",d.couponname as "couponname",
		d.couponimg as "couponimg",date_format(d.couponkssj,'%Y-%m-%d') as "starttime",date_format(d.couponjssj,'%Y-%m-%d') as "endtime"
		from member a, coupon b, merchant c, merchantcoupon d
		where a.memberid = b.memberid
		and b.merchantid = c.merchantid
		and a.merchantid = c.merchantid
		and d.merchantcouponid = b.merchantcouponid
		and a.memberopenid = #{bean.openid} 
		and c.urlflag = #{bean.urlflag}
		and d.couponclass = '01'
	</select> -->
	<!-- 查询会员未领用的优惠券 oracle -->
	<select id="get_coupon" parameterType="java.util.Map" resultType="java.util.Map">
		select b.couponid as "couponid",b.memberid as "memberid",b.merchantcouponid as "merchantcouponid",b.merchantid as "merchantid",
		b.membercouponstate as "membercouponstate",b.couponcode as "couponcode",b.couponsj as "couponsj",b.bz as "bz",d.couponname as "couponname",
		d.couponimg as "couponimg",d.couponkssj as "starttime",d.couponjssj as "endtime"
		from member a, coupon b, merchant c, merchantcoupon d
		where a.memberid = b.memberid
		and b.merchantid = c.merchantid
		and a.merchantid = c.merchantid
		and d.merchantcouponid = b.merchantcouponid
		and a.memberopenid = #{bean.openid} 
		and c.urlflag = #{bean.urlflag}
		and d.couponclass = '01'
	</select>
</mapper>
	