<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.allinpay.wechatcard.dao.WEC0030Dao">
	
	<!-- 查询会员卡信息 -->
	<select id="get_card" parameterType="java.util.Map" resultType="java.util.Map">
		select b.merbercardid as "merbercardid",b.memberid as "memberid",b.merchantid as "merchantid",b.cardno as "cardno",b.dzcardno as "dzcardno",b.cardgrade as "cardgrade",
		b.cardcode as "cardcode",b.cardstat as "cardstat",b.cardmode as "cardmode",b.bz as "bz",b.cardname as "cardname",
		"http://localhost:8080/wechatcard/resources/images/u5_normal.jpg" as "merbercardimg"
		from member a, membercard b, merchant c
		where a.memberid = b.memberid
		and b.merchantid = c.merchantid
		and a.merchantid = c.merchantid
		and a.memberopenid = #{bean.openid} 
		and c.urlflag = #{bean.urlflag}
	</select>
	<!-- 查询会员优惠券信息 -->
	<select id="get_coupon" parameterType="java.util.Map" resultType="java.util.Map">
		select b.couponid as "couponid",b.memberid as "memberid",b.merchantcouponid as "merchantcouponid",b.merchantid as "merchantid",b.membercouponstate as "membercouponstate",b.couponcode as "couponcode",b.couponsj as "couponsj",b.bz as "bz",b.couponname as "couponname",
		"http://localhost:8080/wechatcard/resources/images/u5_normal.jpg" as "couponimg",date_format(b.starttime,'%Y-%m-%d') as "starttime",date_format(b.endtime,'%Y-%m-%d') as "endtime"
		from member a, coupon b, merchant c
		where a.memberid = b.memberid
		and b.merchantid = c.merchantid
		and a.merchantid = c.merchantid
		and a.memberopenid = #{bean.openid} 
		and c.urlflag = #{bean.urlflag}
	</select>
</mapper>
	