<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.allinpay.wechatcard.dao.WEC0031Dao">
	
	<!-- 查询会员卡信息 -->
	<select id="get_card" parameterType="java.util.Map" resultType="java.util.Map">
		select merbercardid as "merbercardid",memberid as "memberid",merchantid as "merchantid",cardno as "cardno",dzcardno as "dzcardno",
		cardgrade as "cardgrade",cardcode as "cardcode",cardstat as "cardstat",cardmode as "cardmode",bz as "bz" from membercard
		where merbercardid = #{merbercardid} 
	</select>
</mapper>
	