<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.allinpay.wechatcard.dao.WEC0041Dao">
	
	<!-- 查询优惠券信息 mysql -->
	<!-- <select id="get_coupon" parameterType="java.util.Map" resultType="java.util.Map">
		select b.couponid as "couponid",b.memberid as "memberid",b.merchantcouponid as "merchantcouponid",b.merchantid as "merchantid",b.membercouponstate as "membercouponstate",b.couponcode as "couponcode",b.couponsj as "couponsj",b.bz as "bz",b.couponname as "couponname",
		couponimg as "couponimg",date_format(b.starttime,'%Y-%m-%d') as "starttime",date_format(b.endtime,'%Y-%m-%d') as "endtime"
		from member a, coupon b, merchant c
		where a.memberid = b.memberid
		and b.merchantid = c.merchantid
		and a.merchantid = c.merchantid
		and a.memberopenid = #{bean.openid} 
		and c.urlflag = #{bean.urlflag}
		and b.coupontype = '00'
		and b.couponid = #{bean.couponid}
	</select> -->
	<!-- oracle -->
	<select id="get_coupon" parameterType="java.util.Map" resultType="java.util.Map">
		select b.couponid as "couponid",b.memberid as "memberid",b.merchantcouponid as "merchantcouponid",b.merchantid as "merchantid",b.membercouponstate as "membercouponstate",b.couponcode as "couponcode",b.couponsj as "couponsj",b.bz as "bz",b.couponname as "couponname",
		couponimg as "couponimg",to_char(b.starttime,'YYYY-MM-DD') as "starttime",to_char(b.endtime,'YYYY-MM-DD') as "endtime"
		from member a, coupon b, merchant c
		where a.memberid = b.memberid
		and b.merchantid = c.merchantid
		and a.merchantid = c.merchantid
		and a.memberopenid = #{bean.openid} 
		and c.urlflag = #{bean.urlflag}
		and b.coupontype = '00'
		and b.couponid = #{bean.couponid}
	</select>
	
	<!-- 查询优惠券信息 -->
	<select id="collect_coupon" parameterType="java.util.Map" >
		update coupon set coupontype = '01' where couponid = #{bean.couponid}
	</select>
	
</mapper>
	