<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.allinpay.wechatcard.dao.WEC0031Dao">
	
	<!-- 查询会员卡信息 -->
	<select id="get_card" parameterType="java.util.Map" resultType="java.util.Map">
		select a.merbercardid as "merbercardid",a.memberid as "memberid",a.merchantid as "merchantid",a.cardno as "cardno",a.dzcardno as "dzcardno",a.
		merbercardtxm as "merbercardtxm",a. cardgrade as "cardgrade",a.cardcode as "cardcode",a.cardstat as "cardstat",a.cardmode as "cardmode",a.bz as "bz",
		b.merbercardimg as "merbercardimg" 
		from membercard a, merchant b
		where merbercardid = #{merbercardid} 
		and a.merchantid = b.merchantid
	</select>
</mapper>
	