<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>

	<mappers>
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/CommonMapper.xml" />
		<!-- 注册 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0010Mapper.xml" />
		<!-- 申请会员卡 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0020Mapper.xml" />
		<!-- 申请新卡 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0021Mapper.xml" />
		<!-- 绑定旧卡 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0022Mapper.xml" />
		<!-- 微信重新绑定 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0023Mapper.xml" />
		<!-- 我的卡包 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0030Mapper.xml" />
		<!-- 会员卡信息 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0031Mapper.xml" />
		<!-- 优惠券详细信息 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0034Mapper.xml" />
		<!-- 修改密码 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0035Mapper.xml" />
		<!-- 我的优惠券 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0040Mapper.xml" />
		<!-- 优惠券领取 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0041Mapper.xml" />
		<!-- 优惠券领取完毕 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0042Mapper.xml" />
		<!-- 优惠券列表【商家优惠券】 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0043Mapper.xml" />
		<!-- 我要付款 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0050Mapper.xml" />
		<!-- 修改手机号 -->
		<mapper resource="cn/com/allinpay/wechatcard/dao/imp/WEC0060Mapper.xml" />
	</mappers>
</configuration>