body {
    background-color:#f0f0f0;
}

.container-fluid>.row>.col-md-12 {
    padding: 0;
}

.container-fluid>.row>.col-md-12 > header.jumbotron {
    background: #6699FF;
    border-radius: 0;
    text-align: center;
    margin-bottom: 0;
    padding: 20px 0 10px;
}

header.jumbotron {
    overflow: hidden;
}

header.jumbotron::after {
    clear: both;
}

header.jumbotron > img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    float: left;
    margin: 10px;
}

header.jumbotron > h1 {
    font-size: 3.1em;
    font-weight: bold;
    color: #f9f9f9;
    letter-spacing: -1px;
}

/*header.jumbotron > p {*/
    /*font-size: 1.5em;*/
    /*font-weight: normal;*/
    /*color: #ccc;*/
    /*letter-spacing: -.5px;*/
/*}*/

#txm {
    margin-bottom: 0;
}

#txm>.list-group-item>img {
    display: block;
    height: 100px;
    width: 80%;
    margin: 0 auto;
}

#txm>.list-group-item {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    /*color: #CCCCCC;*/
    letter-spacing: .2em;
}
#txm>.list-group-item>img:last-child {
    width: 60%;
    height: auto;
}

#list > li {
    border: 0;
    padding: 20px 15px;
    margin-bottom: 0;
    font-size: 1.1em;
    position: relative;
    font-weight: 400;
}

#list > li + li {
    border-top: 1px solid #ddd;
}

.list-img-left {
	position: absolute;
    left: 5px;
    top: 15px;
    width: 30px;
    height: 30px;
}

.list-img-right {
    position: absolute;
    right: 10px;
    top: 23px;
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.modal .jumbotron {
    padding: 0;
}