body {
	background-color: #f0f0f0;
	font-family: Helvetica;
}

#my-card {
	position: relative;
	padding-top: 10px;
}

#my-card>ul.nav-tabs>li {
	width: 50%;
	text-align: center;
	font-weight: bold;
}

#my-card .tab-pane {
	margin-top: 10px;
}

#my-card .tab-pane .list-group {
	overflow: hidden;
	margin-bottom: 0;
}

#my-card .tab-pane .list-group-item {
	float: left;
	width: 100%;
	background: #6699FF;
	padding: 0;
	border: 0;
	margin-bottom: 1px;
}

#my-card .tab-pane .list-group-item1 {
	float: left;
	width: 100%;
	background: #6699FF;
	padding: 0;
	border: 0;
	margin-bottom: 1px;
}


#my-card .tab-pane .list-group-item>div {
	float: left;
	width: 100%;
	margin: 15px 10px;
}

#my-card .tab-pane .list-group-item1>div {
	float: left;
	width: 100%;
	margin: 15px 10px;
}

#my-card .tab-pane .list-group-item>div>img {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 10px;
}

#my-card .tab-pane .list-group-item1>div>img {
	width: 95%;
	height: 100%;
	float: left;
	margin-right: 10px;
}

#my-card .tab-pane .list-group-item>div>h4 {
	padding: 10px;
	font-size: 26px;
	font-weight: bold;
}

#my-card .tab-pane .list-group-item1>div>h4 {
	padding: 10px;
	font-size: 1.3em;
    font-weight: 600;
    color: #000;
}

#my-card .tab-pane .list-group-item>div>p {
	font-size: 18px;
	font-weight: bold;
}

#my-card .tab-pane .list-group-item1>div>p {
	font-size: 18px;
	font-weight: bold;
}

#my-card .tab-pane .list-group-item>em {
	clear: both;
	display: block;
	margin-top: 10px;
	padding: 10px;
	color: #999;
	font-style: normal;
	font-size: 16px;
	border: 0;
}

#my-card .tab-pane .list-group-item1>em {
	clear: both;
	display: block;
	margin-top: 10px;
	padding: 10px;
	color: #999;
	font-style: normal;
	font-size: 16px;
	border: 0;
}

#ka>.form-group {
	margin-top: 20px;
}

#ka .old_card_bind {
	text-align: center;
}

#ka #old_card_bind {
	width: 99%;
}

#ka .new_card_bind {
	text-align: center;
}

#ka #new_card_bind {
	width: 99%;
	margin-top: 10px;
}

#quan>.list-group>.list-group-item {
	background: #FFF;
	color: #000;
}

#quan>.list-group>a.list-group-item>div>img {
	width: 120px;
	height: 100px;
	border-radius: 0;
	float: left;
	margin-right: 10px;
}

#quan>.list-group>a.list-group-item>div>h4 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 24px;
}

#quan>.list-group>a.list-group-item>div>p {
	color: #666;
	font-weight: normal;
}

#quan .get_quan {
	text-align: center;
}

#quan #get_quan {
	width: 99%;
	margin-top: 20px;
}

.list-group-cardno {
	position: absolute;
	margin-top: 170px;
}